<div class="container-fluid text-dark">
  <fieldset style="display: block; padding-top: 0.35em; padding-left: 0.75em; padding-right: 0.75em; border-top: 2px groove;">
    <legend class="text-uppercase" style="width: auto; padding: 0 .5em; margin: 0;">atributos de noticias</legend>
    <div class="row">
      <div class="col-12">
        <div class="card shadow-sm bg-white mb-3 rounded-0">
          <div class="card-header text-uppercase">Destaque</div>
          <div class="card-body">
            <table class="animate-flicker mb-0 table table-hover w-100" id="medio_destaque"></table>
            <div><div class="h"></div><div class="b"></div><div class="f"></div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6" ng-repeat="tabla in tablasNOTICIAS">
        <div class="card shadow-sm bg-white mb-3 rounded-0">
          <div class="card-header text-uppercase">{{tabla.nombre}}</div>
          <div class="card-body">
            <table class="animate-flicker mb-0 table table-hover w-100" id="{{tabla.id}}"></table>
            <div><div class="h"></div><div class="b"></div><div class="f"></div></div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset style="display: block; padding-top: 0.35em; padding-left: 0.75em; padding-right: 0.75em; border-top: 2px groove;">
    <legend class="text-uppercase" style="width: auto; padding: 0 .5em; margin: 0;">atributos de actores</legend>
    <div class="row">
      <div class="col-6" ng-repeat="tabla in tablasACTOR">
        <div class="card shadow-sm bg-white mb-3 rounded-0">
          <div class="card-header text-uppercase">{{tabla.nombre}}</div>
          <div class="card-body">
            <table class="animate-flicker mb-0 table table-hover w-100" id="{{tabla.id}}"></table>
            <div><div class="h"></div><div class="b"></div><div class="f"></div></div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
