<div class="container-fluid text-dark">
  <div class="row">
    <div class="col-8">
      <fieldset style="display: block; padding-top: 0.35em; border-top: 2px groove;">
        <legend class="text-uppercase" style="width: auto; padding: 0 .5em; margin: 0; margin-left: 0.75em;">Unidades de análisis</legend>
        <div class="card shadow-sm bg-white rounded-0">
          <div class="card-body">
            <table class="table table-hover w-100" id="t_clientes">
            </table>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-4">
      <fieldset style="display: block; padding-top: 0.35em; border-top: 2px groove;">
        <legend class="text-uppercase" style="width: auto; padding: 0 .5em; margin: 0; margin-left: 0.75em;">Agenda</legend>
        <div style="font-size: 1.8em;" dynamic="htmlAgenda"></div>
      </fieldset>
    </div>
  </div>
</div>
