<div class="container-fluid text-dark">
  <div class="row">
    <div class="col-6">
      <fieldset class="" style="display: block; border-top: 2px groove;">
        <legend class="text-uppercase" style="width: auto; padding: 0 .5em; margin: 0; margin-left: 0.75em;">informes del sistema</legend>
        <div class="card shadow-sm bg-white text-dark rounded-0 mt-2">
          <div class="card-body">
            <div class="row mt-3">
              <div class="col-12">
                <table id="table_graficos" class="table w-100 table-hover table-striped m-0">
                  <thead>
                    <th>Enlace</th>
                    <th>Descripción</th>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-6">
      <fieldset class="h-100" style="display: block; border-top: 2px groove;">
        <legend class="text-uppercase" style="width: auto; padding: 0 .5em; margin: 0; margin-left: 0.75em;">gráficos en clientes</legend>
        <div class="card shadow-sm bg-white text-dark rounded-0 mt-2">
          <div class="card-body">
            <form novalidate ng-init="submitNG = -1" name="formGrafico" ng-submit="submit(this);" onsubmit="event.preventDefault();">
              <div class="row">
                <div class="col-4 d-flex flex-column align-items-center">
                  <div class="w-100">
                    <div class="input-group w-100">
                      <select class="custom-select w-100 select__2" ng-name="select_cliente" ng-model="formData.select_cliente" name="select_cliente" id="select_cliente" data-placeholder="Cliente final" data-allow-clear="true" required>
                        <option value=""></option>
                        <option ng-repeat="(id,u) in unidad" value="{{id}}">{{u}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4 d-flex flex-column align-items-center">
                  <div class="w-100">
                    <div class="input-group w-100">
                      <select class="custom-select w-100 select__2" ng-name="select_grafico" ng-model="formData.select_grafico" name="select_grafico" id="select_grafico" data-placeholder="Graficos" data-allow-clear="true" requerid>
                        <option value=""></option>
                        <option ng-repeat="(id,grafico) in graficoSelect" value="{{ id }}">{{ grafico.name }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <input class="form-control" ng-name="titulo" ng-model="formData.titulo" id="titulo" type="text" placeholder="TÍTULO DEL GRÁFICO" required/>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-8">
                  <textarea class="form-control" ng-name="descripcion" ng-model="formData.descripcion" id="descripcion" placeholder="Descripción (200)" required></textarea>
                </div>
                <div class="col-4 d-flex align-items-center">
                  <button ng-disabled="formGrafico.$invalid" id="btnGraficos" type="submit" class="btn btn-lg btn-block w-100 text-center bg-primary text-white text-uppercase">agregar</button>
                </div>
              </div>
            </form>
            <hr/>
            <table id="graficosCliente" class="table w-100 table-hover table-striped m-0">
            </table>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-12">
      <fieldset class="h-100" style="display: block; border-top: 2px groove;">
        <legend class="text-uppercase" style="width: auto; padding: 0 .5em; margin: 0; margin-left: 0.75em;">Informes en clientes<i class="fas fa-file-pdf ml-2"></i></legend>
        <div class="card shadow-sm bg-white text-dark rounded-0">
          <div class="card-body">
            <table id="informesCliente" class="table w-100 table-hover table-striped m-0">
            </table>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <!-- FILA para nueva tabla de archivos PDF -->
</div>
