<div class="card mb-3 shadow-sm bg-white rounded-0">
  <div class="card-header" style="font-size: 1.6em;">
    Buscador y filtro de noticias
  </div>
  <div class="card-body">
    <!-- BUSCADOR -->
    <div class="" id="date_filter">
      <div class="row">
        <div class="col-9">
          <!-- <PRIMERA LINEA> -->
          <div class="row justify-content-center">
            <div class="col-4">
              <fieldset class="p-2" style="border: 2px groove;">
                <legend class="text-uppercase" style="width: auto; padding: 0 .5em; margin: 0;"><i class="fas fa-calendar"></i></legend>
                <input data-toggle="tooltip" data-placement="top" title="Fecha desde" disabled="true" type="date" class="form-control text-uppercase rounded-0 mb-2"
                  id="fecha_min" value="">
                <input data-toggle="tooltip" data-placement="bottom" title="Fecha hasata" disabled="true" type="date"
                  class="form-control text-uppercase rounded-0" id="fecha_max" value="">
              </fieldset>
            </div>
            <div class="col-4">
              <fieldset class="p-2" style="border: 2px groove;">
                <legend class="text-uppercase" style="width: auto; padding: 0 .5em; margin: 0;"><i class="fas fa-newspaper"></i></legend>

                <div class="input-group mb-2" data-toggle="tooltip" data-placement="top" title="Nombre del medio">
                  <select disabled="true" class="custom-select w-100 select__2" name="select_medioNOTICIA" id="select_medioNOTICIA"
                    data-allow-clear="true" data-placeholder="MEDIO">
                    <option value=""></option>
                    <option ng-repeat="(id,medio) in mediosSELECT" value="{{id}}">{{medio}}</option>
                  </select>
                </div>

                <div class="input-group" data-toggle="tooltip" data-placement="bottom" title="Tipo de medio">
                  <select disabled="true" class="custom-select w-100 select__2" name="select_medioTipoNOTICIA" id="select_medioTipoNOTICIA"
                    data-allow-clear="true" data-placeholder="TIPO DE MEDIO">
                    <option value=""></option>
                    <option ng-repeat="(id,medio) in mediostipoSELECT" value="{{id}}">{{medio}}</option>
                  </select>
                </div>
              </fieldset>
            </div>
            <div class="col-4 d-flex flex-column align-items-center">
              <div class="w-100">
                <fieldset class="p-2" style="border: 2px groove;">
                  <legend class="text-uppercase" style="width: auto; padding: 0 .5em; margin: 0;"><i class="fas fa-tags"></i>
                    / <i class="fas fa-terminal"></i></legend>
                  <div class="input-group w-100 mb-2" data-toggle="tooltip" data-placement="top" title="Sección / Secciones">
                    <select disabled="true" class="custom-select w-100 select__2" name="select_seccion[]" id="select_seccion"
                      data-placeholder="SELECCIONE" multiple>
                      <option value=""></option>
                      <option ng-repeat="(id,seccion) in seccionSELECT" value="{{id}}">{{seccion}}</option>
                    </select>
                  </div>
                  <input data-toggle="tooltip" data-placement="bottom" title="Título / Cuerpo de la noticia" disabled="true"
                    type="text" class="form-control rounded-0" id="titulo" placeholder="TÍTULO / CUERPO" value="">
                </fieldset>
              </div>
            </div>
          </div>
          <!-- </PRIMERA LINEA> -->
        </div>
        <div class="col-3 d-flex align-items-center">
          <div class="w-100">
            <button disabled="true" type="button" class="btn mb-3 btn-block text-uppercase" id="btn_filtro">filtrar <i
                class="fas fa-filter"></i></button>
            <button disabled="true" type="button" class="btn btn-block text-uppercase" id="btn_limpiar">limpiar <i
                class="fas fa-sync-alt"></i></button>
          </div>
        </div>
      </div>

    </div>
    <!-- /BUSCADOR -->
  </div>
</div>
<!-- <TABLA> -->
<div class="card shadow-sm bg-white rounded-0">
  <div class="card-body">
    <table class="animate-flicker table mb-0 table-hover w-100" id="t_data" datatable="ng">
    </table>
    <div><div class="h"></div><div class="b"></div><div class="f"></div></div>
  </div>
</div>
