<div class="container-fluid text-dark">
  <fieldset class="mx-auto" style="display: block; padding-top: 0.35em; padding-left: 0.75em; padding-right: 0.75em; border-top: 2px groove; width:70%;">
    <legend class="text-uppercase" style="width: auto; padding: 0 .5em; margin: 0;">Usuarios</legend>
    <div class="card shadow-sm bg-white rounded-0" style="">
      <div class="card-body">
        <table class="table table-hover w-100" id="t_usuarios">
        </table>
      </div>
    </div>
  </fieldset>
</div>
