<div class="container-fluid py-3">
    <div class="row justify-content-center" style="padding-bottom:65px;">
        <div class="col-12">
            <h2 class="m-0 text-uppercase">agenda nacional
                <div class="float-right d-flex">
                    <i data-tipo="0" class="fas fa-th mr-2 text-primary" onclick="userDATOS.view(this,1,'#section_body');"></i>
                    <i data-tipo="1" class="fas fa-th-list text-muted cursor-pointer" onclick="userDATOS.view(this,0,'#section_body');"></i>
                </div>
            </h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 pb-4" id="section_body">
            <div class="text-center d-flex justify-content-center">
                <span class="text-uppercase d-flex align-items-center">cargando</span>
                <div class="loading">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>