<div class="container-fluid">
  <div class="row border-top border-dark justify-content-end">
    <div class="col-12 col-lg-3 d-none d-lg-block d-xl-block d-xl-none p-0 bg-light position-fixed column-metricas">
      <!-- <h2 class="text-uppercase text-white bg-primary p-3 mb-0">Métricas - Desde:<input type="text" id="desde" alt="desde"> Hasta:<input type="text" id="hasta"> UA:<input type="text" id="ua"> <input type="button" onclick="javascript:ejecutarGrafico();" value="Ejecutar"></h2>  -->
      <h2 class="text-uppercase text-white bg-primary p-3 mb-0">Métricas</h2> 
      <div class="p-3" style="overflow-y: auto; height: calc(100% - 70px);">
        
		    <div id="knowledgegraphcontent"></div>
      </div>
    </div>


    <div class="col-12 col-lg-9 py-3 border-left position-relative" style="background:#ececec">
      <h2 class="text-uppercase pb-3 mb-0">noticias
        <div class="float-right d-flex">
          <i data-tipo="0" class="fas fa-th mr-2 d-none d-sm-block text-primary" onclick="userDATOS.view(this,1,'#section_body');"></i>
          <i data-tipo="1" class="fas fa-th-list d-none d-sm-block text-muted cursor-pointer" onclick="userDATOS.view(this,0,'#section_body');"></i>
        </div>
      </h2>
      <!-- <div class="position-absolute py-2" id="secciones" style="left: 15px; top: 0; width: calc(100% - 30px); ">
        <h5 class="text-uppercase m-0 p-2 bg-dark text-white">secciones</h5>
        <ul class="list-group list-group-flush"></ul>
      </div> -->
      <div class="" id="section_body">
        <div class="text-center d-flex justify-content-center">
          <span class="text-uppercase d-flex align-items-center">cargando</span>
          <div class="loading">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
