body { background-color: #e8e8e8; font-size: 12px; letter-spacing: -1px; color: #999999; }
aside { top:0; left:0; background-color: #ffffff; z-index: 10; }
aside > div { font-size: 1.1rem; color: #999999; }
aside > div a,
aside > div a:hover { color:#64acfb; text-decoration: none; }
aside .nav_ul { font-size: 1.2rem; list-style: none; }
aside .nav_ul li { min-width: 150px; }
aside .nav_ul a .badge { background-color: #6c757d; color: #fff; }
aside .nav_ul a.active { background-color: #ffffff !important; color: #0e81ff; border-color: #0e81ff; margin-bottom: -5px; border-width: 5px; }
aside .nav_ul a.active .badge { background-color: #007bff; }
aside .nav_ul a { padding: 1em 2em; display: block; text-align: center; color: #999999; text-decoration: none; line-height: 1rem; border-bottom: 2px solid; border-color: transparent; }
aside .nav_ul a:hover { background-color: #f4f4f4; }
aside .nav_ul a i { display: block; font-size: 2rem; margin:0 auto; }
table thead th { vertical-align: middle !important; }
/* */
.cursor-pointer { cursor: pointer; }
#pantalla .close { right: 15px; top: 0px; font-size: 3em; line-height: .5em; }
.has-error,
.has-error + .select2-container--default .select2-selection--single { border-color: #cc0000 !important; background-color: #f3d8d8 !important; }

.lobibox-notify-wrapper { z-index: 50000 !important; }
select[name='select_tipoAlerta'] option:nth-child(2) { background-color: #ffc107; color: #000; }
select[name='select_tipoAlerta'] option:nth-child(3) { background-color: #ff8000; color: #fff; }
select[name='select_tipoAlerta'] option:last-child { background-color: #dc3545; color: #fff; }

.dataTables_info { padding: 0 !important; }
.dataTables_wrapper .dataTables_info { padding-top: 0; padding-left: 10px; }
.dataTables_length { display: flex !important; align-items: stretch !important; margin-right: .8em; }
.dataTables_length label { margin: 0; padding: 0; display: inherit; align-items: inherit; }
.dataTables_length label select { height: auto !important; padding: 10px !important;}
.resaltarCLASS { background-color: #000; color: #fff; }
.resaltarCLASS_ins { background-color: #500; color: #fff; }
.resaltarCLASS_nom { background-color: #4CAF50; color: #fff; }
.dataTable.fixedHeader-floating { width: auto !important; margin-top: 0 !important; }
.dataTables_filter label { margin: 0; display: block; }
.dataTables_filter input { display: block; width: 100%; height: calc(2.25rem + 2px); padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #343a40; border-radius: 0; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; color: #495057; }
.selected { background-color: #007bff !important; color: #fff; }
.typeahead.dropdown-menu { right: 10px !important; left: auto !important; overflow-x: hidden !important; }
.messagebox_content_inputs select { width: 100%; padding: .5em; }
.modal-open { padding:0 !important; }
.modal { overflow-y:auto !important; }
.modal article + article { border-top: 1px solid #ccc; padding-top: 1em; margin-top: 1em; }
/*.modal-body { max-height: 400px; overflow-x: hidden; }*/
.card a,.card a:hover { text-decoration: none; }
.card-img { height: auto; margin-top: 1em; margin-bottom: 1em; }

.messagebox_overlay { z-index: 10000 !important; }
.messagebox_overlay + .select2-container .select2-dropdown { z-index: 100000; }

.input-group .select2-container { flex-grow: 1 !important; width: inherit !important; }
.input-group .select2-container--default .select2-selection--single,
.input-group .select2-container--default .select2-selection--multiple { display: flex !important; align-items: center !important; min-height: 38px !important; position: relative; flex-grow: 1 !important; border-radius: 0; }
.input-group .select2-container--default .select2-selection--single .select2-selection__arrow { top: calc(50% - 13px); }
.input-group .select2-container--default .select2-selection--single { border-color: #ced4da; }
.input-group .select2-container--default .select2-selection--single .select2-selection__clear { position: absolute; right: 20px; top:calc(50% - 14px); }
.hidden-overflow { overflow: hidden; }
.number { font-size: 3.8em; font-weight: 100; color: #007aff; line-height: 1.4em; padding-top: 8px; letter-spacing: -0.06em; }
.text { font-weight: 300; color: #999999; }
.dataTables_scroll { position: relative; }
.dataTables_scrollFoot { position: absolute; top:-60px; width: 100% !important; }
.dataTables_scrollFootInner,
.dataTables_scrollHeadInner { padding-right: 0 !important; width: 100% !important; }
.dataTables_scrollFootInner th:first-child { padding-left: 0 !important; }
.dataTables_scrollFootInner th:last-child { padding-right: 0 !important; }
.dataTables_filter label { display: flex !important; align-items: center!important; }
.dataTables_filter label input { margin-left: 10px !important; }
.dropdown-item.active, .dropdown-item:active { background-color: #ccc !important; }
.scroll-osai::-webkit-scrollbar-track,
.scroll-osai *::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3); background-color: transparent; }
.scroll-osai::-webkit-scrollbar,
.scroll-osai *::-webkit-scrollbar { width: 0px; background-color: transparent; }
.scroll-osai::-webkit-scrollbar-thumb,
.scroll-osai *::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.3); background-color: #aaa; }
.select2-results__option[aria-disabled="true"] { background-color: #ccc !important; }

.dataTables_wrapper .dataTables_processing { position: absolute; top: 0; left: 0; width: 100%; height: auto !important; text-align: center; margin: 0; padding: 2.75em 0; z-index: 500; background-color: #fff !important; }
.lobibox-notify-wrapper { letter-spacing: 0 !important; font-size: 14px !important; }
#modal .select2-container--default .select2-selection--single { height: calc(2.25rem + 2px) !important; display: flex !important; align-items: center!important; border-color: #ced4da; }
#modal .select2-selection__arrow { top: calc(50% - 13px) !important; }
#pantalla { top:0; left: 0; z-index: 1150; min-height: 100vh; background-color: #f1f1f1; overflow-x: hidden; font-size: 1.1rem; }
#pantalla *[data-tipo="titulo"] { position: relative; }
#pantalla *[data-tipo="titulo"]::before { content: "TÃTULO"; background-color: #343a40; color: #ffffff; padding: 10px; border-bottom: 1px solid #343a40}
#pantalla *[data-tipo="subtitulo"] { position: relative; }
#pantalla *[data-tipo="subtitulo"]::before { content: "Bajada / Subtitulo"; background-color: #343a40; color: #ffffff; padding: 10px; border-bottom: 1px solid #343a40}
#pantalla *[data-tipo="autor"] { position: relative; }
#pantalla *[data-tipo="autor"]::before { content: "PERIODISTA"; background-color: #343a40; color: #ffffff; padding: 10px; border-bottom: 1px solid #343a40}
#pantalla *[data-tipo="fecha"] { position: relative; }
#pantalla *[data-tipo="fecha"]::before { content: "FECHA"; background-color: #343a40; color: #ffffff; padding: 10px; border-bottom: 1px solid #343a40}
#pantalla *[data-tipo="url"] { position: relative; }
#pantalla *[data-tipo="url"]::before { content: "URL"; background-color: #343a40; color: #ffffff; padding: 10px; border-bottom: 1px solid #343a40}
#pantalla .etiquetas { width: 400px; height: 100%; right: 0; top: 0; }
#pantalla .etiquetas > h2 { z-index: 1; }
#pantalla .etiquetas > h2 + span { right:4px;top:4px; z-index: 10; }
#pantalla .etiquetas .scroll { height: calc(100% - 70px); overflow-y: auto; }
#pantalla .body-noticia { width: calc(100% - 400px); }
#pantalla .body-noticia .scroll { height: 100%; overflow-y: auto; padding-bottom: 42px; }
#pantalla .form-noticia { width: 100%; background: transparent; border: none; border-bottom: 1px dotted #343a40; color: #000000; font-size: inherit; padding: 10px; outline: none; }
#pantalla *::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); background-color: #CCCCCC; }
#pantalla *::-webkit-scrollbar { width: 8px; background-color: #CCCCCC; }
#pantalla *::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #000; }
#article-content .row { margin:0; }
#modalNoticia .modal-body img { max-width: 100% !important; }
#noticia-detalle { bottom:0; left: 0; background-color: #000; z-index: 100; }
#noticia-detalle a { display: inline-block; vertical-align: bottom; }

#clipping { z-index: 1100; left: 5px; bottom: 5px; font-size: 2em; cursor: pointer; opacity: .5; }
#clipping:hover { opacity: 1; }

#status, #visibility{ background-color: #E6EFC2; border-color: #C6D880; color: #264409; }
#status.idle, #visibility.idle{ background-color: #FFF6BF; border-color: #FFD324; color: #514721; }
/* LOADING */
#div { top:0; left: 0; opacity: .7; z-index: 1200; }
.spinner { width: 70px; text-align: center; position: absolute; top: calc(50% - 14.5px); left: calc(50% - 35px); }
.spinner > div { width: 18px; height: 18px; background-color: #333; border-radius: 100%; display: inline-block; -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
.spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
@-webkit-keyframes sk-bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0) } 40% { -webkit-transform: scale(1.0) } }
@keyframes sk-bouncedelay { 0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); } 40% { -webkit-transform: scale(1.0); transform: scale(1.0); } }

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.ul-nav-osai li:first-child { border-left: 1px solid #dee2e6; }

.animate-flicker { opacity: 0; visibility: hidden; position: fixed; }
.animate-flicker + div { -webkit-animation: flickerAnimation 1.5s infinite; -moz-animation: flickerAnimation 1.5s infinite; -o-animation: flickerAnimation 1.5s infinite; animation: flickerAnimation 1.5s infinite; }
.animate-flicker + div > .h { height: 50px; background: #eeeeee; background: -moz-linear-gradient(left, #eeeeee 0%, #f0f0f0 47%, #e9ecef 100%);
background: -webkit-linear-gradient(left, #eeeeee 0%, #f0f0f0 47%, #e9ecef 100%);
background: -o-linear-gradient(left, #eeeeee 0%, #f0f0f0 47%, #e9ecef 100%);
background: -ms-linear-gradient(left, #eeeeee 0%, #f0f0f0 47%, #e9ecef 100%);
background: linear-gradient(to right, #eeeeee 0%, #f0f0f0 47%, #e9ecef 100%); }
.animate-flicker + div > .b { background: #eeeeee; background: -moz-linear-gradient(left, #eeeeee 0%, #f6f6f6 47%, #bbbbbb 100%);
background: -webkit-linear-gradient(left, #eeeeee 0%, #f6f6f6 47%, #bbbbbb 100%);
background: -o-linear-gradient(left, #eeeeee 0%, #f6f6f6 47%, #bbbbbb 100%);
background: -ms-linear-gradient(left, #eeeeee 0%, #f6f6f6 47%, #bbbbbb 100%);
background: linear-gradient(to right, #eeeeee 0%, #f6f6f6 47%, #bbbbbb 100%); height: 150px; margin-top: -1px; }
.animate-flicker + div > .f { background-color: rgba(0,0,0,0.2); height: 20px; margin-top: 5px; border: 1px solid; border-color: rgba(0,0,0,.2); margin-top: 2px; }
/*/ LOADING */
#tabla_notificacion_viejas .row + .row { border-top: 1px solid #000; }
#tabla_notificacion .row + .row { border-top: 1px solid #000; }

.scrolling-wrapper-flexbox { display: flex; flex-wrap: nowrap; overflow-x: auto; }
.scrolling-wrapper-flexbox .card { flex: 0 0 auto; border-left: none; border-right: none; }

.modal\:full-screen { max-width: 100%; height: 100%; display: flex !important; margin: 0 !important; }
.modal\:full-screen .modal-content { border-radius:0; }
.modal\:full-screen .modal-content .modal-header { border-radius:0; }
.modal\:full-screen .modal-content .modal-footer { border-radius:0; width: 100%; position:absolute; bottom:0; left: 0; }

.dataTables_scroll { padding-top: 2em !important; }